body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

input {
    border-color: #c4c4c4;
}

div.container {
    border-left: 1px dashed #c4c4c4;
    border-right: 1px dashed #c4c4c4;
    height: 100vh;
    padding-top: 15px;
}

.cc-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 400px;
    height: 250px;
    background-color: rgba(133, 24, 24, 0.7); 
    
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center
}

#content {
    font-size: 2rem;
}

#clear-input {
    cursor: pointer;
}

.radio label {
    font-size: 1.5rem;
}

.to-right {
    text-align: right;
}

.margin-top-20 {
    margin-top: 20px;
}

pre#send-output {
    display: none;
}

div.pull-right {
    text-align: right;
}