<!DOCTYPE html>
<html ng-app="aplikacja">

<head>
    <meta charset="utf-8">
    <title>Ćwiczenie 06</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
</head>

<body>
    <div ng-controller="kontroler" class="container">
        <input type="text" class="form-control" name="pole" ng-model="pole">
        <button class="btn btn-info" ng-click="dodajJeden()" ng-show="guzik">Zwiększ wartość</button>
        <input type="checkbox" ng-model="guzik"> Aktywuj guzik
        <h1>{{ pole | uppercase }}</h1>
        <div ng-repeat="element in tablica">
            {{ element.a[0] }}<br>
        </div>
        <button class="btn btn-default" ng-click="zmienObraz()">Zmień obraz</button>
        <select>
            <option value=1>Jeden</option>
            <option value=2>Dwa</option>
            <option value=3>Trzy</option>
        </select>
        <select ng-model="poleSelect" ng-options="element.name for element in opcje"></select>
        
        <h1>{{ poleSelect.value }}</h1>

        <div ng-if="czyPokazac()">
            <img src="img/{{ obrazek }}.jpg" style="width: 100%;">
        </div>
    </div>
    <!-- JS scripts -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        var app = angular.module('aplikacja', []);

        app.controller('kontroler', function ($scope) {
            $scope.wartosc = 234;
            $scope.tablica = [
                {
                'a': [123],
                'b': 234,
                'c': "to jest tekst"
                },
                {
                'a': [124,125,126],
                'b': 235,
                'c': "to jest tekst trochę inny"
                }
            ];

            $scope.obrazek = 1;

            $scope.dodajJeden = function () {
                $scope.wartosc++;
            };

            $scope.zmienObraz = function(){
                if ($scope.obrazek === 1){
                    $scope.obrazek = 2;
                } else {
                    $scope.obrazek = 1;
                }
            }

            $scope.czyPokazac = function(){
                return false;
            }

            $scope.opcje = [
                {
                    "value": 1,
                    "name": 'Jeden'
                },
                {
                    "value": 2,
                    "name": 'Dwa'
                },
                {
                    "value": 3,
                    "name": 'Trzy'
                }
            ];
        });
    </script>
</body>

</html>