<!DOCTYPE html>
<html ng-app="aplikacja">

<head>
    <meta charset="utf-8">
    <title>Ćwiczenie 07</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
</head>

<body>
    <div ng-controller="kontroler" class="container">
        <form name="form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Kwota kredytu</label>
                        <input class="form-control" type="number" name="kredyt">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Wybierz typ klienta</h3>
                    <div id="step-1" ng-repeat="klient in klienci">
                        <div class="radio">
                            <label>
                                <input type="radio" name="klient" ng-model="$parent.typKlienta" value="{{ klient.typ }}"> {{ klient.opis }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h3>Wybierz produkt</h3>
                    <h5>Proszę wybrać rodzaj klienta</h5>
                    <div id="step-2"></div>
                </div>
                <div class="col-sm-4">
                    <h3>Wybierz okres</h3>
                    <h5>Proszę wybrać produkt</h5>
                    <div id="step-3"></div>
                </div>
            </div>
            <div class="row">
                <div id="step-1-data" class="col-xs-12">
                    <div class="form-group hidden" id='step-1-nip'>
                        <label>NIP</label>
                        <input class="form-control" type="number" name="nip">
                    </div>
                    <div class="form-group hidden" id='step-1-pesel'>
                        <label>PESEL</label>
                        <input class="form-control" type="number" name="pesel">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-8 col-sm-4 pull-right">
                    <button class="btn btn-primary" ng-click="wyslijDane()">Wyślij</button>
                    <button class="btn btn-danger" ng-click="wyczyscFormularz()">Wyczyść</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12 margin-top-20">
                <div class="alert alert-danger" ng-show="pokazBledy">
                    <p ng-repeat="blad in bledy">{{blad}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- JS scripts -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        var app = angular.module('aplikacja', []);

        app.controller('kontroler', function ($scope, $http) {
            $scope.produkty;

            $http.get('http://atomscript.com/pl/json/index.php')
                .then(function (response) {
                    $scope.klienci = response.data;
                })

            $scope.wyslijDane = function () {
                $scope.pokazBledy = false;
                $scope.bledy = [];
                if (typeof $scope.typKlienta === 'undefined') {
                    $scope.bledy.push('Proszę wybrać typ klienta.');
                    $scope.pokazBledy = true;
                }
            }

            $scope.wyczyscFormularz = function () {

            }
        });
    </script>
</body>

</html>